# ignore notebook checkpoint files
**/.ipynb_checkpoints/*

# Ignore pycache
**/__pycache__/**

# Ignore docsite things
/docs/_site/*
docs/.jekyll-cache/

# Ignore outputs folder
/notebooks/outputs/*
